.container{
    background-color: yellow;
    margin:  129px 10% 0 10%;
}

.container h2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.75px;
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
}