@import "../../vars.css";
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    margin-left: 10%;
    z-index: 1;
    margin-right: 10%;
    position: relative;
}

.content{
    color: var(--text-color);
    display: flex;
    z-index: 1;
    flex-direction: column;
}

.title{
    font-family: var(--roboto-font);
    font-weight: 900;
    font-size: 72px;
}