.skills{
    padding: 0;
    /* width: 100%; */
    margin: 0 10% 5% 10%;
    /* margin:  129px 10% 0 10%; */

}

.skills h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    color: var(--text-color);
    letter-spacing: 1.75px;
    text-align: center;
}

.container{
    display: flex;
    height: 300px;
    /* width: 100%; */
    margin: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px 0px lightyellow; */
    
}

.description {
    margin: 10% 0 10% 0;
    width: 60%;
    height: 100px;
}

.description p{
    color: var(--text-color);
    padding: 20px;
    font-weight: 300;
    font-size: 25px;
}


.stageCube{
    width: 25%;
    position: relative;
    height: 90%;
    margin: 20px 0 20px 20px  ;
}

.cubespiner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
    margin-top: 70px;

}

.cubespiner div{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1pc solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 0 20px 0px lightyellow;
}

.face1{
    transform: translateZ(100px);
}

.face2{
    transform: rotateY(90deg) translateZ(100px);
}

.face3{
    transform: rotateY(90deg) rotateX(90deg)  translateZ(100px);
}

.face4 {
    transform: rotateY(180deg) translateZ(100px) translateY(0px);
}


.face5{
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.face6{
    transform: rotateX(-90deg) translateZ(100px);
}


@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }

    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66%{
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83%{
        transform: rotateX(90deg);
    }
}

@media screen and (max-width: 830px) {
    .skills{
        background-color: olivedrab;
        margin: 20px 10px;
        height: auto;
    }


    .container {
        display: flex;
        flex-direction: column;
        padding: 2px;
        margin: 2px;
        height: 500px;
    }

    .description{
        width: 100%;
        margin: 0px 0px;
        padding: 0px;
        height: auto;
    }

    
    .description p{
        padding: 0px;
        margin: 0px;
        /* font-size: 15px; */
    }

    .stageCube{
        margin: 0px 30px 20px 30px;
        padding: 2px;
        width: 90%;
        background-color: red;
    }

    /* .cubespiner{
        margin: 10% 20%;
    } */

}
